
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTicketLabel">Create or edit a Ticket</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ticket.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ticket.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_number">Number</label>
            <input type="number" class="form-control" name="number" id="field_number"
                    ng-model="vm.ticket.number"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setQrCode($file, vm.ticket)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_qrCode">Qr Code</label>
            <div>
                <img data-ng-src="{{'data:' + vm.ticket.qrCodeContentType + ';base64,' + vm.ticket.qrCode}}" style="max-height: 100px;" ng-if="vm.ticket.qrCode"/>
                <div ng-if="vm.ticket.qrCode" class="help-block clearfix">
                    <span class="pull-left">{{vm.ticket.qrCodeContentType}}, {{vm.byteSize(vm.ticket.qrCode)}}</span>
                    <button type="button" ng-click="vm.ticket.qrCode=null;vm.ticket.qrCodeContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setQrCode($file, vm.ticket)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="qrCode" id="field_qrCode"
                    ng-model="vm.ticket.qrCode"
                     />
            <input type="hidden" class="form-control" name="qrCodeContentType" id="field_qrCodeContentType"
                    ng-model="vm.ticket.qrCodeContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.ticket.status" id="field_status">
                <option value="WAIT">WAIT</option>
                <option value="PROCESS">PROCESS</option>
                <option value="SKIP">SKIP</option>
                <option value="FINISH">FINISH</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_foodOrder">Food Order</label>
            <select class="form-control" id="field_foodOrder" name="foodOrder" ng-model="vm.ticket.foodOrder" ng-options="foodOrder as foodOrder.id for foodOrder in vm.foodorders | orderBy:'id' track by foodOrder.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.ticket.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_foodJoint">Food Joint</label>
            <select class="form-control" id="field_foodJoint" name="foodJoint" ng-model="vm.ticket.foodJoint" ng-options="foodJoint as foodJoint.id for foodJoint in vm.foodjoints track by foodJoint.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
