
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPaymentLabel">Create or edit a Payment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.payment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.payment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                    ng-model="vm.payment.totalPrice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.payment.status" id="field_status">
                <option value="UNPAY">UNPAY</option>
                <option value="PROCESS">PROCESS</option>
                <option value="DONE">DONE</option>
                <option value="ERROR">ERROR</option>
                <option value="CANCEL">CANCEL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_paymentInfo">Payment Info</label>
            <input type="text" class="form-control" name="paymentInfo" id="field_paymentInfo"
                    ng-model="vm.payment.paymentInfo"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
