<div>
    <h2>Food Joints</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="food-joint.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Food Joint
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Working Hours</span></th>
                    <th><span>Image</span></th>
                    <th><span>Estimat Wait Per Person</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="foodJoint in vm.foodJoints track by foodJoint.id">
                    <td><a ui-sref="food-joint-detail({id:foodJoint.id})">{{foodJoint.id}}</a></td>
                    <td>{{foodJoint.name}}</td>
                    <td>{{foodJoint.workingHours}}</td>
                    <td>
                        <a ng-if="foodJoint.image" ng-click="vm.openFile(foodJoint.imageContentType, foodJoint.image)">
                            <img data-ng-src="{{'data:' + foodJoint.imageContentType + ';base64,' + foodJoint.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="foodJoint.image">{{foodJoint.imageContentType}}, {{vm.byteSize(foodJoint.image)}}</span>
                    </td>
                    <td>{{foodJoint.estimatWaitPerPerson}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="food-joint-detail({id:foodJoint.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="food-joint.edit({id:foodJoint.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="food-joint.delete({id:foodJoint.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
